<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
    <div id="wrapper">

        {% include "../templates/navigation.njk" %}

        <div id="page-wrapper">

                {% block css %}
                <!-- Custom styles -->
                <link rel="stylesheet" href="../css/kyc.css?ver=101" />
                {% endblock %}    
                
              <div class="user-content">
                    <div class="user-kyc">
                        <form action="#">
                            <div class="from-step">
                                <div class="from-step-item">
                                    <div class="from-step-heading">
                                        <div class="from-step-number">01</div>
                                        <div class="from-step-head">
                                            <h4>Step 1 : Personal Details</h4>
                                            <p>Simple personal information, required for identification</p>
                                        </div>
                                    </div>
                                    <div class="from-step-content">
                                        <div class="note note-md note-info note-plane">
                                            <em class="fas fa-info-circle"></em> 
                                            <p>Please carefully fill out the form with your personal details. Your can’t edit these details once you submitted the form.</p>
                                        </div>
                                        <div class="gaps-2x"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="first-name" class="input-item-label">First Name</label>
                                                    <input class="input-bordered" type="text" id="first-name" name="first-name">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="last-name" class="input-item-label">Last Name</label>
                                                    <input class="input-bordered" type="text" id="last-name" name="last-name">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="email-address" class="input-item-label">Email Address</label>
                                                    <input class="input-bordered" type="text" id="email-address" name="email-address">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="phone-number" class="input-item-label">Phone Number</label>
                                                    <input class="input-bordered" type="text" id="phone-number" name="phone-number">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="date-of-birth" class="input-item-label">Date of Birth</label>
                                                    <input class="input-bordered date-picker" type="text" id="date-of-birth" name="date-of-birth">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="nationality" class="input-item-label">Nationality</label>
                                                    <select class="country-select" name="Nationality" id="Nationality">
                                                        <option value="us">United State</option>
                                                        <option value="uk">United Kingdom</option>
                                                        <option value="fr">France</option>
                                                        <option value="ch">China</option>
                                                        <option value="cr">Czech Republic</option>
                                                        <option value="cb">Colombia</option>
                                                    </select>
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="address-line-1" class="input-item-label">Address Line 1</label>
                                                    <input class="input-bordered" type="text" id="address-line-1" name="address-line-1">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="address-line-2" class="input-item-label">Address Line 2 <span>(optional)</span></label>
                                                    <input class="input-bordered" type="text" id="address-line-2" name="address-line-2">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="email-address" class="input-item-label">City of Residence</label>
                                                    <input class="input-bordered" type="text" id="email-address" name="email-address">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="phone-number" class="input-item-label">Zip Code</label>
                                                    <input class="input-bordered" type="text" id="phone-number" name="phone-number">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                            <div class="col-md-6">
                                                <div class="input-item input-with-label">
                                                    <label for="phone-number" class="input-item-label">Telegram Username <span>(optional)</span></label>
                                                    <input class="input-bordered" type="text" id="phone-number" name="phone-number">
                                                </div><!-- .input-item -->
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div><!-- .from-step-content -->
                                </div><!-- .from-step-item -->
                                <div class="from-step-item">
                                    <div class="from-step-heading">
                                        <div class="from-step-number">02</div>
                                        <div class="from-step-head">
                                            <h4>Step 2 : Identity Verify</h4>
                                            <p>Upload documents to verify your identity.</p>
                                        </div>
                                    </div>
                                    <div class="from-step-content">
                                        <div class="note note-md note-info note-plane">
                                            <em class="fas fa-info-circle"></em> 
                                            <p>Please upload any of the following personal document.</p>
                                        </div>
                                        <div class="gaps-2x"></div>
                                        <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#passport">
                                                    <div class="nav-tabs-icon">
                                                        <img src="img/icon-passport.png" alt="icon">
                                                        <img src="img/icon-passport-color.png" alt="icon">
                                                    </div>
                                                    <span>Passport</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#passport">
                                                    <div class="nav-tabs-icon">
                                                        <img src="img/icon-national-id.png" alt="icon">
                                                        <img src="img/icon-national-id-color.png" alt="icon">
                                                    </div>
                                                    <span>National or State ID Card</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#passport">
                                                    <div class="nav-tabs-icon">
                                                        <img src="img/icon-licence.png" alt="icon">
                                                        <img src="img/icon-licence-color.png" alt="icon">
                                                    </div>
                                                    <span>Driver’s License</span>
                                                </a>
                                            </li>
                                        </ul><!-- .nav-tabs-line -->
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="passport">
                                                <h5 class="kyc-upload-title">To avoid delays when verifying account, Please make sure bellow:</h5>
                                                <ul class="kyc-upload-list">
                                                    <li>Chosen credentials must not be expired.</li>
                                                    <li>Documents should be good condition, and clearly visible.</li>
                                                    <li>Make sure that there is no light, flash or glare on the documents.</li>
                                                </ul>
                                                <div class="gaps-4x"></div>
                                                <span class="upload-title">Upload Here Your Documents</span>
                                                <div class="row align-items-center">
                                                    <div class="col-8">
                                                        <div class="upload-box">
                                                            <div class="upload-zone">
                                                                <div class="dz-message" data-dz-message>
                                                                    <span class="dz-message-text">Drag and drop file</span>
                                                                    <span class="dz-message-or">or</span>
                                                                    <button class="btn btn-primary">SELECT</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="kyc-upload-img">
                                                            <img src="img/vector-passport.png" alt="vector">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gaps-1x"></div>
                                            </div>
                                            
                                                
                                            
                                        </div>
                                        <div class="gaps-2x"></div>
                                    </div><!-- .from-step-content -->
                                </div><!-- .from-step-item -->
                            </div><!-- .from-step -->
                        </form>
                    </div><!-- .user-kyc -->
                </div><!-- .user-content -->    
    
    <div class="modal fade" id="kycConfirm" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="kyc-popup">
                    <h2 class="text-center">Confirm Information</h2>
                    <div class="input-item">
                        <input class="input-checkbox" id="term-condition" type="checkbox">
                        <label for="term-condition">I have read the <a href="#">Terms of Condition</a></label>
                    </div>
                    <div class="input-item">
                        <input class="input-checkbox" id="info-currect" type="checkbox">
                        <label for="info-currect">I certify the information I have entered is true, and correct.</label>
                    </div>
                    <div class="gaps-2x"></div>
                    <div class="text-center"><a href="kyc-status.html" class="btn btn-primary">Process for Verify</a></div>
                </div><!-- .modal-content -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- Modal End -->
    
        </div>
        {% include "../templates/modals/spinner.njk" %}

        {% include "../templates/modals/confirm.njk" %}
    </div>
{% endblock %}

{% block scripts %} 
	  <script type="text/javascript" src="../dist/js/kyc.js?ver=101"></script>
    <script type="text/javascript" src="../plugins/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
{% endblock %}
